#content {
  margin: 0 auto;
  max-width: 1100px;
  padding: 44px 24px;
  display: flex;
  flex-direction: row;
}

#content h2 {
  font-size: 22px;
  text-align: center;
}

.column {
  margin: 0 24px;
  width: calc(100% / 2);
  display: flex;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

.column .icon {
  margin-right: 24px;
}

.column img {
  width: 44px;
}

.column p {
  margin: 0;
}

.column .title {
  font-size: 16px;
  font-weight: 600;
}

.column .description,
.column .link {
  font-size: 12px;
}

.column .description {
  margin: 2px 0 8px;
  color: #666;
}

#creds {
  overflow-y: hidden;
  overflow-x: scroll;
}
